.slider {
  display: flex;
  height: 75%;
  justify-content: center;
  flex-direction: row;
}
.slider-label {
  margin-left: 5%;
  margin-top: 5rem;
  font-size: 45px;
  color: rgb(86, 17, 113);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  color: rgba(86, 17, 113, 1);
}
