.slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.slider-label {
  margin-bottom: 3rem;
  font-size: 45px;
  color: rgb(86, 17, 113);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  color: rgba(86, 17, 113, 1);
  font-weight: 800;
}

.swiper-wrapper {
  align-items: center;
}

.event-slider {
  width: 100%;
}
