.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28rem;

  box-sizing: border-box;
  margin-top: 5rem;
  margin-left: 3rem;
  padding-left: 3rem;
}
.event-label {
  margin-top: 8px;
  max-width: 200px;
  font-size: 32px;
  color: rgb(86, 17, 113);
}
.event-image {
  width: 25rem;
  height: 25rem;
  border-radius: 20rem;
  object-fit: cover;
}
