body.active-popup {
  overflow-y: hidden;
}

.popup,
.overlay {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1000px;
  min-width: 500px;
  max-height: 500px;
  overflow: auto;
}

.close-popup {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.rating-comment {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
